@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --color-background: white;
    --blue-text-color: #0b0b3b;
    --color-primary-dark: #05294d;
    --color-border: #ccc;
    --color-shadow: #0b5bb080;
    --color-text: var(--blue-text-color);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-background);
}

.container{
    width: 100%;
    padding: 44px;
    background: var(--color-background);
    border-radius: 5px;
}

h2,p{
    color: var(--blue-text-color);
    text-align: center;
    margin-bottom: 2px;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--blue-text-color);
}

/* label{
    width: 80%;
    font-weight: bold;
    margin: 10px;
    text-align: left;
} */

input, select{
    /* width: 80%; */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    font-size: 15px;
}


input:focus , select:focus{
    border-color: var(--blue-text-color);
    outline: none;
    box-shadow: 0 0 8px var(--color-shadow);
}

.submit-btn{
    border: none;
    border-radius: 5px;
    color: var(--color-background);
    font-weight: bold;
    padding: 12px;
    margin-top: 15px;
    background-color: var(--blue-text-color);
    cursor: pointer;
    width: 83%;
    font-size: 10px;
}

.submit-btn:hover{
    background-color: var(--color-primary-dark);
    transform: scale(1.05);
}
