

/*header*/
.header {
    background: var(--color-background);
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-border);
    box-shadow: 0px 2px 5px var(--color-border);
    margin-bottom: 20px;
}


.header-title {
    margin: 0;
    font-size: 22px;
    color: var(--blue-text-color);
}
.search-box {
    padding: 7px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    width: 250px;
}

.search-box:focus{
    border-color: var(--blue-text-color);
    outline: none;
    box-shadow: 0 0 8px var(--color-shadow);
}

/* table*/
.users-table {
    width: 100%;
    border-collapse: collapse;
    background: var(--color-background);
    border-radius: 8px;
    box-shadow: 0px 0px 10px var(--color-border);
    overflow: hidden;
}

.table-header-checkbox{
    display: flex;
    align-items: center;
    gap: 8px;
}
.users-table th, .users-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--color-border);
}

.users-table th {
    background: var(--color-background);
    background: var(--blue-text-color);
    color: var(--color-background);
}

.users-table tr:hover {
    background: var(--color-background);
}


