
.sidebar {
    width: 300px;
    height: 100%;
    background-color: white;
    padding-top: 20px;
    /* position: fixed; */
    overflow: auto;
    border-right: 1px solid;

}

.sidebar a{
    color: var(--link-color);
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 2;
    transition: var(--main-transtion);
}

.sidebar a:hover,
.sidebar a.active{
    background-color: var(--link-hover-color);
    color: var(--color-background);
    transition: var(--main-transtion);

}



.title{
    margin: 16px;
}
.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu li a i {
    margin-right: 10px;
}

.submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
}



/* .menue-item:hover .submenu {
    display: block;
} */

.sidebar a i{
    margin-right: 10px;
}
.menue-item a{
    position: relative;
}
.arrow-dropdown{
    position: absolute;
    right: 20px;
    top: 42%;
    z-index: 200;
    transform: translate(-50%, -50%);
}

.menue-item > a::after{
    content: '\f107';
    position: absolute;
    right: 20px;
    top: 42%;
    z-index: 200;
    transform: translate(-50%, -50%);
    font-family: 'FontAwesome';
}

.menue-item.open > a::after{
    content: '\f077';
}
.menue-item.open .submenu{
    display: block;
}

